[submodule "control/ros_ws/src/champ"]
	path = control/ros_ws/src/champ
	url = https://github.com/chvmp/champ.git
[submodule "control/ros_ws/src/champ_setup_assistant"]
	path = control/ros_ws/src/champ_setup_assistant
	url = https://github.com/chvmp/champ_setup_assistant.git
[submodule "control/ros_ws/src/champ_teleop"]
	path = control/ros_ws/src/champ_teleop
	url = https://github.com/chvmp/champ_teleop
