<launch>
    <arg name="joystick" default="false"/>
    <arg name="input_id"  default="/dev/input/js0"/>
    <arg name="auto_close" default="false" doc="Startup mode"/>
    <arg name="show_GUI" default="false" doc="Show GUI app"/>


    <!--Load le hardware interface-->
    <node name="Hardware_Interface" pkg="controls" type="hardware_interface" output="screen"/>


    <!--Load CHAMP-->
    <include file="$(find alphabear_config)/launch/bringup.launch">
     
        <arg name="rviz" value="true"/>
    </include>




    <!-- Load CHAMP teleoperation node and joy_node -->
    <include file="$(find champ_teleop)/launch/teleop.launch">
     
    </include>

  <!--Initialisation de la communication serial avec le arduino-->
  <!--<node pkg="rosserial_python" type="serial_node.py" name="ArduiNode">
      <param name="port" value="/dev/ttyACM0"/>
      <param name="baud" value="115200"/>
  </node>-->


    

</launch>
